*{
    padding:0;
    margin: 0;
    font-size: 24px;
    font-family: 'helvetica';
}
body{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 64px auto 24px;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
}
header{
    background-color: lightgreen;
    grid-area: header;
}
nav{
    background-color: lightslategray;
    grid-area: nav;
}
.navMob{
    display: none;
}
main{
    background-color: lightsalmon;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__wrapper{
    background-color: lightskyblue;
    grid-area: infWrap;
    width: 100%;
    max-width: 1024;
    height: 100%;
}
footer{
    background-color: lightseagreen;
    grid-area: footer;
}

@media (max-width:430px){
    body{
        grid-template-columns: auto;
        grid-template-rows: 60px 30px auto 24px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .navDesk{
        display: none;
    }
    .navMob{
        display: block;
        width: 100%;
        text-align: center;
    }
}
