@import "../elements/colors.scss";
@import "../elements/fonts.scss";
*{
    margin: 0;
    padding: 0;
    color: $colForeground;
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
    @media (max-width: 430px) {
        p{
            font-size: 18px;
        }
    }
    a{
        color: $colForeground;
    }
}