@import "../elements/colors.scss";
@mixin mq-mobile-L{
    @media (max-width:430px){
        @content;
    }
}

.contacto__wrapper{
    padding: 16px;
    background-color: $colBg;
    display: flex;
    @include mq-mobile-L(){
        flex-direction: column;
    }
    .contactoForm__container{
        width: 50%;
        padding: 20px;
        background-color: $colCardBg;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 2px solid $colContrastL;
        border-right: unset;
        @include mq-mobile-L(){
            width: 100%;
            padding: 16px;
            border-bottom-left-radius: unset;
            border-top-right-radius: 8px;
            border: 2px solid $colContrastL;
            border-bottom: unset;
        }
        .contactoForm{
            color: $colForeground;
        }
    }
}

.contactoMaps__container{
    width: 50%;
    @include mq-mobile-L(){
        width: 100%;
        height: 240px;
    }
    .contactoMaps{
        width: 100%;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 2px solid $colContrastL;
        border-left: unset;
        @include mq-mobile-L(){
            border-top-right-radius: unset;
            border-bottom-left-radius: 8px;
            border: 2px solid $colContrastL;
            border-top: unset;
        }
    }
}