@import "../elements/colors.scss";
@mixin mq-mobile-L{
    @media (max-width: 500px){
        @content;
    }
}
.headerIndex{
    background-color: #ecffe9;
    nav{
        .nav__listMobile{
            button.btn.btn-secondary.dropdown-toggle{
                background: #869f1b !important;
            }
            button.btn.btn-secondary.dropdown-toggle.show {
                background: #394119 !important;
            }
            button.btn.dropdown-toggle.mob-button{
                border: 2px solid #869f1b;
            }
            .dropdown-item{
                &.active,
                &:active {
                    background-color: #ecffe9;
                    color: #394119;
                }
            }
        }
        .nav__listMobile__logo{
            cursor: default;
            img{
                height: 55px;
            }
            .btn-secondary{
                background-color: rgb(154, 139, 189);
            }
        }
        .nav__item{
            &:hover{
                text-decoration: underline solid #394119 1px;
            }
            a{
                color: $colForeground;
            }
        }
        .nav__dropdownContainer{
            background-color: #ecffe9;
            .nav__item{
                border-top: 1px solid #394119;
            }
        }
    }
}
header{
    width: 100%;
    height: 78px;
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: $colBg;
    z-index: 10000;
    @include mq-mobile-L(){
        height: 64px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center; 
        width: 100%;
        padding: 4px 0;

        .nav__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 0;
            margin: 0;
            @include mq-mobile-L(){
                display: none;
            }
        }
        .nav__listMobile{
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin: 0;
            @include mq-mobile-L(){
                display: flex;
            }
            button.btn.btn-secondary.dropdown-toggle{
                background: $colContrast !important;
            }
            button.btn.btn-secondary.dropdown-toggle.show {
                background: $colContrastL !important;
            }
            button.btn.dropdown-toggle.mob-button{
                .show{
                    border: none;
                }
                border: 2px solid $colContrast;
            }
            .dropdown-item{
                &.active,
                &:active {
                    background-color: $colBg;
                    color: $colContrastL;
                    text-decoration: none;
                }
            }
        }
        .nav__listMobile__logo{
            cursor: default;
            img{
                height: 55px;
            }
            .btn-secondary{
                background-color: rgb(154, 139, 189);
                border-color: unset;
            }
        }
        .nav__item{
            list-style-type:none;
            font-size: 20px;
            width: 200px;
            text-align: center;
            cursor: default;
            &:hover{
                text-decoration: underline solid $colContrastL 1px;
            }
            a{
                cursor: pointer;
                color: $colForeground;
                text-decoration: none;
            }
            img{
                list-style-type:none;
                height: 70px;
                vertical-align: middle;
            }
        }
        .nav__dropdownContainer{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 24px;
            align-items: center;
            padding-top: 25px;
            padding-left: 0;
            width: 150px;
            background-color: $colBg;
            .nav__item{
                padding: 8px 0;
                width: fit-content;
                border-top: 1px solid $colContrastL;
            }
        }
        .nav__dropdown{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &:hover .nav__dropdownContainer{
                display: flex;
            }
        }  
    }
}
