@mixin mq-mobile-L{
    @media (max-width:430px){
        @content;
    }
}
@mixin mq-mobile-XL{
    @media (min-width: 431px) and (max-width: 1023px){
    @content;
    }
}

.productosTarjeta{
    display: flex;
    flex-direction: column;
    width: 390px;
    background-color: rgb(217, 209, 252);
    margin: 32px 8px 16px 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
    line-height: normal;
    img{
        width: 100%;
        height: 200px;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .productosTarjeta-Info{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 16px 16px;
        @include mq-mobile-L(){
            padding-top: 8px;
        }
        h1{
            font-size: 24px;
            margin-bottom: 16px;
            @include mq-mobile-L(){
                align-self: center;
                margin-bottom: 8px;
            }
        }
        p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            height: 84px;
            font-size: 18;
            margin-bottom: 8px;
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
        }
        .button-sabermas{
            align-self:flex-end;
            @include mq-mobile-L(){
                align-self: center;
            }
        }
    }
}

.quienes__tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 16px 80px;
    background-color: rgb(239, 233, 255);
    margin-bottom: 16px;
    @include mq-mobile-L(){
        padding: 16px 12px;
        padding-bottom: unset;
    }
    @include mq-mobile-XL(){
        padding: 16px 12px;
        padding-bottom: unset;
    }
    img{
        height: 200px;
        @include mq-mobile-L(){
            height: 160px;
        }
        @include mq-mobile-XL(){
            height: 160px;
        }
    }
    .rounded-circle{
        height: 200px;
        @include mq-mobile-L(){
            height: 160px;
        }
        @include mq-mobile-XL(){
            height: 160px;
        }
    }
    p{
        text-align: center;
        @include mq-mobile-L(){
            font-size: 18px;
        }
        @include mq-mobile-XL(){
            font-size: 18px;
        }
    }
    h2{
        @include mq-mobile-L(){
            padding-top: 24px;
        }
        @include mq-mobile-XL(){
            padding-top: 24px;
        }
    }
}

.flex-h{
    padding: 16px 160px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    @include mq-mobile-L(){
        padding: unset;
        padding-top: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include mq-mobile-XL(){
        padding: unset;
        padding-top: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: left;
        padding-top: 24px;
        @include mq-mobile-L(){
            text-align: unset;
            padding-top: 24px;
        }
        @include mq-mobile-XL(){
            text-align: unset;
            padding-top: 24px;
        }
    }
    p{
        text-align: left;
        padding-top: 24px;
        width: 50%;
        @include mq-mobile-L(){
            text-align: center;
            padding: 0 12px;
            width: 100%;
        }
        @include mq-mobile-XL(){
            text-align: center;
            padding: 0 12px;
            width: 100%;
        }
    }
    &:nth-of-type(odd){
        flex-direction: row-reverse;
        @include mq-mobile-L(){
            flex-direction: column;
        }
        @include mq-mobile-XL(){
            flex-direction: column;
        }
        h2{
            text-align: right;
            @include mq-mobile-L(){
                text-align: center;
            }
            @include mq-mobile-XL(){
                text-align: unset;
            }
        }
        p{
            text-align: right;
            @include mq-mobile-L(){
                text-align: center;
            }
            @include mq-mobile-XL(){
                text-align: center;
            }
        }
    }
    &:nth-of-type(3){
        @include mq-mobile-L(){
            margin-bottom: unset;
        }
        @include mq-mobile-XL(){
            margin-bottom: unset;
        }
    }
}

.col-md-8{
    background-color: rgb(154, 139, 189);
}
.col-md-4 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    @include mq-mobile-L(){
        height: 240px;
    }
}
.card-runas{
    color: white;
    @include mq-mobile-L(){
        font-size: 18px;
    }
}
.card-runasSize{
    height: 300px;
    overflow: hidden;
    @include mq-mobile-L(){
        height: 240px;
    }
}
.card-runasSizeImg{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq-mobile-L(){
        height: 240px;
    }
}
.card-title{
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
}
.card-text{
    font-size: 16px;
}