*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: "helvetica", sans-serif;
}

header{
    width: 100%;
    height: 78px;
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: rgb(239, 233, 255);
    z-index: 10000;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    padding: 4px 0;
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav__listMobile{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}
.nav__listMobile__logo{
    cursor: default;
}
.nav__listMobile__logo img{
    height: 55px;
}
.nav__listMobile .btn-secondary{
    background-color: rgb(154, 139, 189);
    border-color: unset;
}

.nav__item{
    list-style-type:none;
    font-size: 20px;
    width: 200px;
    text-align: center;
    cursor: default;
}
.nav__item:hover{
    text-decoration: underline solid rgb(175, 170, 190) 1px;
}

.nav__item a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav__dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav__dropdownContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 24px;
    align-items: center;
    padding-top: 25px;
    padding-left: 0;
    width: 150px;
    background-color: rgb(239, 233, 255);
}

.nav__dropdown:hover .nav__dropdownContainer{
    display: flex;
}

.nav__dropdownContainer .nav__item{
    padding: 8px 0;
    width: fit-content;
    border-top: 1px solid rgb(170, 190, 190);
}

main{
    padding-top: 78px;
    padding-bottom: 28px;
}

.nav__item img{
    list-style-type:none;
    height: 70px;
    vertical-align: middle;
}
.inicio__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 28px;
}
.inicio__hero{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inicio__hero img{
    width: 100%;
    max-width: 1200px;
}

.inicio__podcast{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 18px 0;
}
.inicio__podcastContainer{
    width: fit-content;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio__podcastContainer img{
    width: 60px;
    padding-right: 20px;
}
.inicio__podcastContainer h2{
    font-size: 38px;
    margin: 0;
}

.inicio__quienes{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 18px 0;
    background-color: rgb(239, 233, 255);
    margin-bottom: 48px;
}

.inicio__quienes h2{
    font-size: 38;
    background-color: white;
    padding: 18px 24px;
    margin-bottom: 18px;
}

.inicio__quienesContainer{
    padding: 18px 24px;
    display: flex;
    flex-direction: row;
}

.inicio__quienesImg{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio__quienesImg img{
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.inicio__quienesInfo{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.inicio__quienesInfo p{
    color: black;
    font-size: 20px;
    margin-bottom: 24px;
}

.terapias__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgb(239, 233, 255);
}

.runastarot__wrapper{
    background-color: rgb(239, 233, 255);
    padding-top: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
}

.titleBanner{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 8px 0;
    font-weight: 100;
    font-size: 2.5rem;
    margin: 0;
}

.terapias__wrapper .productosContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.productosTarjeta{
    display: flex;
    flex-direction: column;
    width: 390px;
    background-color: rgb(217, 209, 252);
    margin: 32px 8px 16px 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
    line-height: normal;
}
.productosTarjeta img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.productosTarjeta-Info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px 16px;
}
.productosTarjeta-Info h1{
    font-size: 24px;
    margin-bottom: 16px;
}
.productosTarjeta-Info p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 84px;
    font-size: 18;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.productosTarjeta-Info .button-sabermas{
    align-self:flex-end;
}

.quienes__tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 16px 80px;
    background-color: rgb(239, 233, 255);
    margin-bottom: 16px;
}
.quienes__tarjeta img{
    height: 200px;
}
.quienes__tarjeta .rounded-circle{
    height: 200px;
}
.quienes__tarjeta p{
    text-align: center;
}

.flex-h{
    padding: 16px 160px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.flex-h h2{
    text-align: left;
    padding-top: 24px;
}
.flex-h p{
    text-align: left;
    padding-top: 24px;
    width: 50%;
}

.flex-h:nth-of-type(odd){
    flex-direction: row-reverse;
}
.flex-h:nth-of-type(odd) h2{
    text-align: right;
}
.flex-h:nth-of-type(odd) p{
    text-align: right;
}

.contacto__wrapper{
    padding: 16px;
    background-color: rgb(239, 233, 255);
    display: flex;
}
.contactoForm__container{
    width: 50%;
    padding: 20px;
    background-color: rgb(154, 139, 189);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid white;
    border-right: unset;
}
.contactoForm{
    color: white;
}
.contactoMaps__container{
    width: 50%;
}
.contactoMaps{
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid white;
    border-left: unset;
}

.curso__wrapper{

    display: flex;
    justify-content: center;

}

.curso__container{
    background-color: rgb(239, 233, 255);
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 28px;
}
.curso__img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.curso__info-s{
    margin: 24px 0;
    text-align: center;
    text-wrap: pretty;
}
.curso__info-m{
    align-self: baseline;
    padding: 0 24px;
    margin-bottom: 24px;
    text-wrap: pretty;
}
.curso__span{
    align-self: baseline;
    padding: 0 24px;
}
.curso__ul{
    align-self: baseline;
    padding: 0 64px;
}
.curso__precio{
    background-color: white;
    padding: 11px 2;
    padding-left: 24px;
    text-align: left;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px lightgray;
}
.curso__precio .button-sabermas{
    margin-left: 20px;
}
footer{
    display: flex;
    align-items: center;
    background-color: rgb(239, 233, 255);
    height: 24px;
    padding: 2px 24px;
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
}
footer p{
    margin: 0;
}

.button-sabermas{
    background-color: rgb(100, 57, 255);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
}
.button-sabermas:hover{
    background-color: rgb(213, 206, 255);
    box-shadow: inset 0 0 0 1px rgb(55, 0, 255);
    color: black;
}

.graphics__line{
    width: 200px;
    height: 1px;
    border-bottom: 1px solid black;
}

/* BOOTSTRAP FORM Pagina contacto */
.mb-3{
    max-width: auto;
    height: 300px;
    margin: 0 8px;
}
.col-md-8{
    background-color: rgb(154, 139, 189);
}
.col-md-4 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}
.card-runas{
    color: white;
}
.card-runasSize{
    height: 300px;
    overflow: hidden;
}
.card-runasSizeImg{
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title{
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
}
.card-text{
    font-size: 16px;
}

/* Mobile L: 375 */

@media (max-width: 430px){
    * p{
        font-size: 18px;
    }
    header{
        height: 64px;
    }
    main{
        padding-top: 64px;
    }
    .nav__list{
        display: none;
    }
    .nav__listMobile{
        display: flex;
    }
    .inicio__podcast{
        padding: 0 18px;
        margin: 8px 0;
    }
    .inicio__podcastContainer{
        height: 72px;
    }
    .inicio__podcastContainer img{
        width: 48px;
    }
    .inicio__podcastContainer h2{
        font-size: 31px;
        width: max-content;
        max-width: 232px;
    }
    .inicio__quienes{
        height: unset;
    }
    .inicio__quienesContainer{
        flex-direction: column;
    }
    .inicio__quienesImg{
        width: 100%;
        height: unset;
        margin-bottom: 12px;
    }
    .inicio__quienesImg img{
        height: unset;
    }
    .inicio__quienesInfo{
        padding: 0;
    }
    .inicio__quienesInfo p {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .terapias__wrapper .productosContainer{
        width: 100%;
    }
    .productosTarjeta-Info{
        padding-top: 8px;
    }
    .productosTarjeta-Info h1{
        align-self: center;
        margin-bottom: 8px;
    }
    .productosTarjeta-Info .button-sabermas{
        align-self: center;
    }

    .quienes__tarjeta{
        padding: 16px 12px;
        padding-bottom: unset;
    }
    .quienes__tarjeta h2{
        padding-top: 24px;
    }
    .quienes__tarjeta p{
        font-size: 18px;
    }
    .quienes__tarjeta img{
        height: 160px;
    }
    .quienes__tarjeta .rounded-circle{
        height: 160px;
    }
    .flex-h{
        padding: unset;
        padding-top: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex-h h2{
        text-align: unset;
        padding-top: 24px;
    }
    .flex-h p{
        text-align: center;
        padding: 0 12px;
        width: 100%;
    }
    
    .flex-h:nth-of-type(odd){
        flex-direction: column;
    }
    .flex-h:nth-of-type(odd) h2{
        text-align: unset;
    }
    .flex-h:nth-of-type(odd) p{
        text-align: center;
    }
    .flex-h:nth-of-type(3){
        margin-bottom: unset;
    }

    .contacto__wrapper{
        flex-direction: column;
    }
    .contactoForm__container{
        width: 100%;
        padding: 16px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 8px;
        border: 2px solid white;
        border-bottom: unset;
    }
    .contactoMaps__container{
        width: 100%;
        height: 240px;
    }
    .contactoMaps{
        width: 100%;
        height: 100%;
        border-top-right-radius: unset;
        border-bottom-left-radius: 8px;
        border: 2px solid white;
        border-top: unset;
    }

    .card-runas{
        font-size: 18px;
    }

    .card-runasSize{
        height: 240px;
    }
    .card-runasSizeImg{
        height: 240px;
    }
    .col-md-4 img{
        height: 240px;
    }

    .curso__img{
        height: 240px;
    }

    .curso__info-m{
        text-align: center;
    }

    .curso__span{
        align-self: center;
        padding: 0 24px;
    }

    .titleBanner{
        font-size: 32px;
    }
    footer{
        padding: 2px 0;
    }
    footer p{
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
}

/* Tablet: 768px */
@media (min-width: 431px) and (max-width: 768px){
    .inicio__quienes{
        height: unset;
    }
    .inicio__quienesContainer{
        flex-direction: column;
    }
    .inicio__quienesImg{
        width: unset;
        height: 240px;
        margin-bottom: 12px;
    }
    .inicio__quienesImg img{
        height: 240px;
    }
    .inicio__quienesInfo{
        padding: 0;
    }
    .inicio__quienesInfo p {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .quienes__tarjeta{
        padding: 16px 12px;
        padding-bottom: unset;
    }
    .quienes__tarjeta h2{
        padding-top: 24px;
    }
    .quienes__tarjeta p{
        font-size: 18px;
    }
    .quienes__tarjeta img{
        height: 160px;
    }
    .quienes__tarjeta .rounded-circle{
        height: 160px;
    }
    .flex-h{
        padding: unset;
        padding-top: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex-h h2{
        text-align: unset;
        padding-top: 24px;
    }
    .flex-h p{
        text-align: center;
        padding: 0 12px;
        width: 100%;
    }
    
    .flex-h:nth-of-type(odd){
        flex-direction: column;
    }
    .flex-h:nth-of-type(odd) h2{
        text-align: unset;
    }
    .flex-h:nth-of-type(odd) p{
        text-align: center;
    }
    .flex-h:nth-of-type(3){
        margin-bottom: unset;
    }
}