*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: "helvetica", sans-serif;
}

header{
    width: 100%;
    height: 78px;
    position:fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: rgb(239, 233, 255);
    z-index: 10000;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    padding: 4px 0;
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item{
    list-style-type:none;
    font-size: 20px;
    width: 200px;
    text-align: center;
    cursor: default;
}
.nav__item:hover{
    text-decoration: underline solid rgb(175, 170, 190) 1px;
}

.nav__item a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav__dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav__dropdownContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 24px;
    align-items: center;
    padding-top: 25px;
    padding-left: 0;
    width: 150px;
    background-color: rgb(239, 233, 255);
}

.nav__dropdown:hover .nav__dropdownContainer{
    display: flex;
}

.nav__dropdownContainer .nav__item{
    padding: 8px 0;
    width: fit-content;
    border-top: 1px solid rgb(170, 190, 190);
}

main{
    padding-top: 78px;
    padding-bottom: 28px;
}

.nav__item img{
    list-style-type:none;
    height: 70px;
    vertical-align: middle;
}

.main__hero img{
    width: 100%;
    height: 500px;
}

.main__podcast{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 18px 0;
}
.main__podcastContainer{
    width: fit-content;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__podcastContainer img{
    width: 40px;
    padding-right: 20px;
}
.main__podcastContainer h2{
    font-size: 38px;
}

.main__quienes{
    width: 100%;
    height: 400px;
    padding: 18px 0;
    background-color: rgb(239, 233, 255);
    margin-bottom: 48px;
}

.main__quienes h2{
    font-size: 38;
    background-color: white;
    padding: 18px 24px;
    margin-bottom: 18px;
}

.main__quienesContainer{
    padding: 0 24px;
    display: flex;
    flex-direction: row;
}

.main__quienesContainer img{
    background-color: white;
    width: 500px;
    height: 300px;
}

.main__quienesInfo{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.main__quienesInfo p{
    color: black;
    font-size: 20px;
    margin-bottom: 24px;
}

.main__terapias{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgb(239, 233, 255);
}

.main__runastarot{
    background-color: rgb(239, 233, 255);
    height: 100%;
}

.main__terapias .productosContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.productosTarjeta{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
    background-color: rgb(217, 209, 252);
    margin: 32px 8px 16px 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding-bottom: 16px;
}
.productosTarjeta img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.productosTarjeta-Info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px 16px;
}
.productosTarjeta-Info h1{
    font-size: 24px;
    margin-bottom: 16px;
}
.productosTarjeta-Info p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 84px;
    font-size: 18;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.productosTarjeta-Info .button-sabermas{
    align-self:flex-end;
}

.quienes__info h1{
    width: auto;
    text-align: center;
    padding: 8px 0;
}

.quienes__tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 16px 80px;
    background-color: rgb(239, 233, 255);
    margin-bottom: 16px;
}
.quienes__tarjeta p{
    text-align: center;
}

.flex-h{
    padding: 16px 160px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.flex-h h2{
    text-align: left;
    padding-top: 24px;
}
.flex-h p{
    text-align: left;
    padding-top: 24px;
    width: 50%;
}

.flex-h:nth-of-type(odd){
    flex-direction: row-reverse;
}
.flex-h:nth-of-type(odd) h2{
    text-align: right;
}
.flex-h:nth-of-type(odd) p{
    text-align: right;
}


footer{
    background-color: rgb(239, 233, 255);
    padding: 2px 24px;
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
}
footer p{
    margin: 0;
}

.button-sabermas{
    background-color: rgb(100, 57, 255);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
}
.button-sabermas:hover{
    background-color: rgb(213, 206, 255);
    box-shadow: inset 0 0 0 1px rgb(55, 0, 255);
    color: black;
}

.graphics__line{
    width: 200px;
    height: 1px;
    border-bottom: 1px solid black;
}

/* BOOTSTRAP */
.mb-3{
    max-width: auto;
    height: 300px;
    margin: 0 8px;
}
.col-md-8{
    background-color: rgb(154, 139, 189);
}
.col-md-4 img{
    height: 300px;
    width: auto;
    overflow: hidden;
}
.card-runas{
    color: white;
}
.card-title{
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
}
.card-text{
    font-size: 16px;
}